<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<STYLE>
    .gandalfpill {transition: all ease .2s;margin-left:5px;vertical-align:middle;  display: inline-block; background-color: white; padding:0 8px; border-radius: 999px;}
.gandalfpill:hover img {filter: grayscale(1) brightness(1000%);transition: all ease .8s;}
.gandalfpill:hover {border:1px  solid white; background-color: black;  transform: translateY(-5px); transition: all ease .2s;}
.back2top {font-size:2px}
</STYLE>

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo"  href="/"><img style="filter: grayscale(1) brightness(1000%);" loading="lazy" decoding="async" src="/assets/images/homelogo.jpg" alt="logo" width="264" height="78"></a>
            <!--<p>
                Detroit Website Design
            </p>-->
        </div>
        <div class="right-section">
            <div class="lists">
                <ul id="cs-expanded" class="cs-ul" style="margin-bottom: 100px;">
                    {% set navPages = collections.all | eleventyNavigation %}
  
                    {# Loop through all pages with a eleventyNavigation in the frontmatter #}
                    {% for entry in navPages %}
  
                        {# Define a hasChild variable to make it easier to test what navigation items are have child dropdown pages #}
                        {% set hasChild = entry.children.length %}
  
                        {# Check the frontmatter for hideOnMobile/hideOnDesktop. Form a list of classes to be joined when the item is rendered #}
                        {% set hideClasses = [] %}
                        {% if entry.hideOnMobile %}
                            {% set hideClasses = (hideClasses.push("cs-hide-on-mobile"), hideClasses) %}
                        {% endif %}
                        {% if entry.hideOnDesktop %}
                            {% set hideClasses = (hideClasses.push("cs-hide-on-desktop"), hideClasses) %}
                        {% endif %}
  
                        {# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes #}
                        <li class="cs-li {% if hasChild %} cs-dropdown {% endif %} {{ hideClasses | join(" ") }}">
  
                            {# If the page has child dropdown pages, render it as a <button> tag with the appropriate dropdown HTML #}
                            {% if hasChild %}
  
                                {# Check to see if the user's current page is one of the child pages. If so, apply the cs-active class to the dropdown parent #}
                                {% set activeClass = "" %}
                                {% for child in entry.children %}
                                    {% if child.url == page.url %}
                                        {% set activeClass = "cs-active" %}
                                    {% endif %}
                                {% endfor %}
  
                                {# Render the <button> with the active class, dropdown icon and child links #}
                                <button 
                                   style="color:white;" class="cs-li-link cs-dropdown-button {{ activeClass }}"
                                    aria-expanded="false"
                                    aria-controls="dropdown-{{ entry.key }}"
                                    aria-label="dropdown-{{ entry.key }}"
                                >
                                    {{ entry.key }}
                                    <img class="cs-drop-icon" style="filter: brightness(1000%) grayscale(1);" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                </button>
  
                                {# Dropdowns have another ul/li set up within the parent li, which gets rendered in the same way as a normal link #}
                                <ul class="cs-drop-ul" id="dropdown-{{ entry.key }}">
                                    {% for child in entry.children %}
                                        <li class="cs-drop-li">
                                            <a href="{{ child.url }}" class="cs-li-link cs-drop-link">{{ child.key }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {# Normal pages are rendered as <a> tags, in the normal way you'd expect #}
                                <a href="{{ entry.url }}" class="cs-li-link {% if entry.url == page.url %} cs-active {% endif %}" {% if entry.url == page.url %} aria-current="page" {% endif %}>
                                    {{ entry.key }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Tattoos</li>
                    <li>Body Piercing</li>
            
                </ul>
                <ul>
                    <li>
                        <h2>Get in touch</h2>
                    </li>
                    <li>

                    </li>
                    <li>
                        Call or Text
                        <BR>
                        <a href="tel:{{client.phoneForTel}}">
                         
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        Email
                        <BR>
                        <a href="mailto:{{client.email}}">{{client.email}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
      
      
        <div class="container">
        
            <span class="copyright">
                © {% year %} {{client.name}}</span>
                <a class="back2top" href="#top">Back to top</a>
        </div>
      
<div>
        <span>Designed & Hand Coded by</span>
       
        <a class="gandalfpill" href="/"><img style="vertical-align:middle; " loading="lazy" decoding="async" src="/assets/svgs/logo.svg" alt="logo" height="12"></a>
    </div>
           
    </div>

</footer>

