<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<STYLE>
    .gandalfpill {transition: all ease .2s;margin-left:5px;vertical-align:middle;  display: inline-block; background-color: white; padding:0 8px; border-radius: 999px;}
.gandalfpill:hover img {filter: grayscale(1) brightness(1000%);transition: all ease .8s;}
.gandalfpill:hover {border:1px  solid white; background-color: black;  transform: translateY(-5px); transition: all ease .2s;}
.back2top {font-size:2px}
</STYLE>

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo"  href="/"><img loading="lazy" decoding="async" src="/assets/images/kellyshomelogo.jpg" alt="logo" width="264" height="78"></a>
            <!--<p>
                Detroit Website Design
            </p>-->
        </div>
        <div class="right-section">
            <div class="lists">
                <ul id="cs-expanded" class="cs-ul" style="margin-bottom: 100px;">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {{ 'cs-active' if '/' == page.url }}">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a target="_blank" href="https://www.toasttab.com/local/order/kellys-bar-hamtramck/r-ebadf9c7-7b98-42a4-8d2d-36dc92b70bfc?diningOption=takeout&rwg_token=AJKvS9W_vNJcE4VXlPejJg3LEVGVOGSqnKNkto8vCtRnsC0XXBD5PHrNuZJJ_GVG9bn1TMwFcqjLNuxX4vosC3sCsNeUma2kmw%3D%3D" class="cs-li-link {{ 'cs-active' if 'artists' == page.fileSlug }}">
                           Menu
                        </a>
                    </li>
                    
                    <li class="cs-li">
                        <a target="_blank" href="https://www.facebook.com/kellysbarinhamtramck" class="cs-li-link {{ 'cs-active' if 'contact' == page.fileSlug }}">
                            Facebook
                        </a>
                    </li>
  
                    <li class="cs-li">
                      <a target="_blank" href="https://www.instagram.com/kellysbarhamtramck/" class="cs-li-link {{ 'cs-active' if 'contact' == page.fileSlug }}">
                          Instagram
                      </a>
                  </li>
                </ul>
                <ul>
                    <li>
                        <h2>Kelly's Bar</h2>
                    </li>
                    <li>Friendly bartenders</li>
                        
                    <li> Cheap drinks</li>
                        
                        <li> Fun atmosphere</li>
                        
                        <li> Great food</li>
                        
                        <li> Great value</li>
            
                </ul>
                <ul>
                    <li>
                        <h2>Get in touch</h2>
                    </li>
                    <li>

                    </li>
                    <li>
                        Phone
                        <BR>
                        <a href="tel:{{client.phoneForTel}}">
                         
                            {{client.phoneFormatted}}
                        </a>
                    </li>
            
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
      
      
        <div class="container">
        
            <span class="copyright">
                © {% year %} {{client.name}}</span>
                <a class="back2top" href="#top">Back to top</a>
        </div>
      
<div>
        <span>Designed & Hand Coded by</span>
       
        <a class="gandalfpill" href="/"><img style="vertical-align:middle; " loading="lazy" decoding="async" src="/assets/svgs/logo.svg" alt="logo" height="12"></a>
    </div>
           
    </div>

</footer>

