<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->


<style>
    /*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-584 .cs-button-solid {           
            border-radius: 999px;
            display: block;
            background-color:black;
       
            color:white;
        }

        #steps-584 .cs-button-solid:hover {           
            color:black;
        }
  #steps-584 {
    padding: var(--sectionPadding);
    background-color: var(--primary);
  }
  #steps-584 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-584 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #steps-584 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #steps-584 .cs-card-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  #steps-584 .cs-item {
    list-style: none;
    min-height: 18.125rem;
    /* 16px - 24px left & right */
    padding: 1rem clamp(1rem, 1.8vw, 1.5rem);
    border-bottom: 1px solid var(--bodyTextColorWhite);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #steps-584 .cs-item:last-of-type {
    border: none;
  }
  #steps-584 .cs-h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2em;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #steps-584 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #steps-584 .cs-number {
    font-size: 3.8125rem;
    font-weight: 900;
    line-height: 1.2em;
    /* auto pushes against other elements in a flexbox, this one forces it to be at the bottom of the flexbox */
    margin: auto 0 0 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-584 .cs-container {
    max-width: 80rem;
  }
  #steps-584 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #steps-584 .cs-item {
    width: 48%;
  }
  #steps-584 .cs-item:nth-of-type(3) {
    border-bottom: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #steps-584 .cs-card-group {
    flex-wrap: nowrap;
  }
  #steps-584 .cs-item {
    border-bottom: none;
    border-right: 1px solid var(--bodyTextColorWhite);
  }
}
                                
</style>

<section id="steps-584">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Process</span>
            <h2 class="cs-title">Simple easy steps to get started</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">Step 1</h3>
                <p class="cs-item-text">
                   <a  class="cs-button-solid" href="">Schedule 15 min call</a> <BR>or<BR>
                    <a class="cs-button-solid" href="">Buy Now</a>
                </p>
                <span class="cs-number">01</span>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Step 2</h3>
                <p class="cs-item-text">
                  We’ll work together to understand your business and clarify your message. If your website visitors are confused they will not buy!
                </p>
                <span class="cs-number">02</span>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Step 3</h3>
                <p class="cs-item-text">
                    We will launch your website and make sure that you are 100% happy. We can launch your site in as little as 1 day.
                </p>
                <span class="cs-number">03</span>
            </li>

        </ul>

        <a style="margin-top: 0px;" href="" class="cs-button-solid">Schedule 15 min Call</a>
    </div>
</section>
                                