{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
  


    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->



    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <picture class="blog-mainImage">
                <img style="width: 100%;" src="{{ image }}" alt="{{ imageAlt }}" decoding="async"/>
            </picture>


    <h1 class="container blog-h1">{{ title }}</h1>


            <article class="blog-article">
                <!--Main Article Image-->
           


                <section id="blog-content">
                    {{ content | safe }}
                </section>


                                <!--Article Info-->
                                <div class="article-group">
                    
                                    <div class="blog-authorGroup">
                                        <!--Author Image-->
                                        <picture class="blog-author-img">
                                            <img
                                            src="/assets/svgs/profile.svg"
                                            alt="house"
                                            width="32"
                                            height="32"
                                            decoding="async">
                                        </picture>
                                        <span class="blog-author">{{ author }}</span>
                                        <span aria-hidden="true" class="blog-dot"></span>
                                        <!--Blog Date-->
                                        <span class="blog-date">{{ date | postDate }}</span>
                                    </div>
                                </div>
            </article>
        </div>
        <!-- End .main-content -->

        
    </div>
{% endblock %}